<% events.each do |event| %>
        <div class="event-card">
          <div class="event-image">
            <div id="carousel<%= event.id %>" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <% event.photos.each_with_index do |photo, index| %>
                  <li data-target="#carousel<%= event.id %>" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>" ></li>
                <% end %>
              </ol>
              <div class="carousel-inner">
                <% event.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"d-block w-100" %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carousel<%= event.id %>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
              </a>
              <a class="carousel-control-next" href="#carousel<%= event.id %>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
              </a>
            </div>
          <p class="offer-tag"><%= event.offer %></p>
          </div>
          <div class="event-detail">
            <div class="block-top">
              <div class="block-left">
                <h5> <%= event.title %> </h5>
                <h6> <%= event.description %></h6>
              </div>
              <div class="block-date">
                <i class="fas fa-calendar-alt" style="color: white;"></i>
                <p> Du <%= event.beg_date.strftime("%d/%m") %></p>
                <p> Au <%= event.end_date.strftime("%d/%m") %></p>
              </div>
            </div>
            <div class="block-bottom">
              <div class="block-icon">
                <a><i class="far fa-heart" style="color: white;"></i></a>
                <a><i class="fas fa-share-alt" style="color: white;"></i></a>
                <%= link_to '<i class="fas fa-pen" style="color: white;"></i>'.html_safe , edit_shop_event_path(event.id) %>
              </div>
              <div class="block-button">
                <button type="button" data-toggle="modal" data-target="#qrcode">
                  QR Code
                </button>
                <%= render 'qrcode', qr: qr %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
