<%= simple_form_for (shop) do |f| %>
  <div class="form-shop-event">
    <div class="form-step-1">
      <div class="step1">
        <div class="container-white" id="container-step1-shop">
          <%= f.input :name, label: "Nom" %>
          <%= f.input :address, label: "Adresse" %>
          <%= f.input :description, label: "Description" %>
          <p id='step1-button' class= 'all-screen-button text-center'>Continuer</p>
          <div class="container text-center">
            <%= link_to  "Retour", dashboard_path, class: 'return-button' %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-step-2">
      <div class="step2">
        <div class="container-white" id="container-step2-shop">
          <input type="hidden" name="shop[category_ids][]" value="">
          <div class="category-choices category-choices-shops" id="categories-container">
            <% Category.all.each do |category| %> 
              <div class="category-choice <%= "active" if shop.categories.include?(category) %> shop-category ">
                <input class="checkbox-categ" type="checkbox" 
                  value="<%= category.id %>" 
                  name="shop[category_ids][]" id="shop_category_ids_<%= category.id %>"
                  <%= "checked=checked" if shop.categories.include?(category) %>
                >
                <label class="form-check-label collection_check_boxes" for="shop_category_ids_<%= category.id %>">
                  <i class="<%= category.icon %>"></i> <br>
                  <%= category.name %>
                </label>
              </div>
            <% end %>
          </div>
          <p id='step2-button' class= 'all-screen-button text-center'>Continuer</p>
          <div class="container text-center">
            <p class= 'return-button' id= 'button-return-step2'>Retour</p>
          </div>      
        </div> 
      </div> 
    </div>
    <div class="form-step-3">
      <div class="step3">
        <div class="container-white" id="container-step3-shop">
          <%= f.input :photos, as: :file, input_html: { class: 'hidden', id: 'photo-input', multiple: true }, label_html: { class: 'upload-photo'}, label: '📷 Ajouter une ou plusieurs image(s)' %>
          <%= f.input :active, wrapper: :custom_boolean_switch, label: "Mettre en ligne ?" %>
          <%= f.submit "Valider", class: 'all-screen-button' %>
          <% end %>
          <div class="container text-center">
            <p class= 'return-button' id= 'button-return-step3'>Retour</p>
          </div>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
       </div>
    </div>
  </div>
</div>