<h2><%= @shop.name %></h2>

<p>Actif :<%= @shop.active %></p>
<p>Addresse :<%= @shop.address %></p>
<p>Description :<%= @shop.description %></p>
<p>Catégorie(s) : 
  <ul>
    <% @shop.categories.each do |category| %>
      <li><%= category.name %> </li>
    <% end %>
  </ul>
</p>

<%= link_to  "Modifier ce magasin",  edit_shop_path(@shop) %>
<br>
<%= link_to  "Nouvel évenement", new_shop_event_path(@shop) %>
<br>
<h3>Evènements prévus:</h3>
<br>
<% @events.each do |event| %>
  <div class="event-card">
    <div class="event-image">
      <img src="https://source.unsplash.com/featured/?product" alt="">
      <p class="offer-tag"><%= event.offer %></p>
    </div>
    <div class="event-detail">
      <div class="block-top">
        <h4> <%= event.title %> </h4>
        <p> Du <%= event.beg_date.strftime("%d/%m/%Y") %> au <%= event.end_date.strftime("%d/%m/%Y") %></p>
      </div>
      <p> <%= event.description %></p>
      <div class="block-bottom">
        <div class="block-icon">
          <a><i class="far fa-heart" style="color: white;"></i></a>
          <a><i class="fas fa-share-alt" style="color: white;"></i></a>
          <a><i class="fas fa-pen" style="color: white;"></i></a>
        </div>
        <div class="block-button">
          <%= link_to "QR Code" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

