<div class="container text-center show-page-margin" >
  <h2 id="show-shop-title"><i class="fas fa-store"></i> <%= @shop.name %></h2>
  <!-- Change tab name to plural if multiple offers. -->
  <% if @shop.user_id == current_user.id %>
    <% @events.size > 1 ? tab_event = "Mes offres" : tab_event = "Mon offre" %>
  <% else %>
    <% @events.size > 1 ? tab_event = "Offres" : tab_event = "Offre" %>
  <% end %>
  <ul class="nav nav-pills justify-content-around my-3">
    <li class="nav-item">
      <a class="nav-link active" href="#info" data-toggle="tab" style="text-decoration: none;" id="title-black">Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#offers" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_event %></a>
    </li>
  </ul>
  <div class="tab-content">
    <!-- Beginning of InfoTab -->
    <div class="tab-pane active" id="info">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @shop.photos.each_with_index do |photo, index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>" ></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @shop.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index == 0 ? "active" : "" %>">
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"d-block w-100" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>
      </div>
      <div class="shop-tags">
        <% @shop.categories.each do |category| %>
          <p class="shop-tag"><%= category.name %></p>
        <% end %>
      </div>
      <p id="shop-address"><i class="fas fa-map-marker-alt"></i> <%= @shop.address %></p>
      <p><i class="fas fa-book"></i> <%= @shop.description %></p>
      <% if policy(@shop).update? %>
        <%= link_to edit_shop_path(@shop), :class => "button-dashboard-bis pen-padding" do %><i class="fas fa-pen"></i><% end %>
      <% end %>
    </div>
  <!-- End of INFO TAB & Beginning of Events Tab -->

    <div class="tab-pane" id="offers">
      <% if policy(@shop).update? %>
      <%= link_to new_shop_event_path(@shop), :class => "button-dashboard-tres plus-padding add-button-dashboard " do %><i class="fas fa-plus"></i><% end %>
      <% end %>
      <% @events.sort {|a,b| b.end_date <=> a.end_date} %>
      <% if @events.count > 0 %>
        <%= render 'shared/event_card', qr: @qr, events: @events  %>
      <% else %>
        <div class="no-result">
          <p>Aucune offre pour le moment, cliquez sur le "+" pour créer votre première offre!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
