<div class="container">
  <h3>Modifiez vos informations. 👇</h3>
</div>


<div class="container">
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name, label: "Prénom" %>
    <%= f.input :last_name, label: "Nom de famille" %>
    <%= f.input :email %>
    <br>
    <br>
    <%= f.submit "Enregistrer" %>
  <% end %>
</div>
