<div class="container">
  <h3>Modify your profile 👇</h3>
</div>


<div class="container">
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :second_name %>
    <%= f.input :email %>
    <%= f.input :photo, as: :file %>
    <br>
    <br>
    <%= f.submit %>
  <% end %>
</div>
