<div class="container text-center show-user-container">
  <h2><i class="fas fa-user-alt" id="avatar-symbol"></i></h2>
  <div class="info-container">
    <p><i class="fas fa-info" id="info"></i></p>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><i class="fas fa-at" id="at"></i></p>
    <p><%= @user.email %></p>
  </div>
  <div class="links-container">
    <div class="link-container">
      <%= link_to edit_user_path(@user), :class => "button-dashboard-bis pen-padding" do %>
        <i class="fas fa-pen"></i>
      <% end %>
    </div>

    <div class="link-container">
      <%= link_to dashboard_path, :class => "button-dashboard-bis home-padding" do %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
  </div>

</div>
