<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "orange-logo-crop.png" %>
  <% end %>

  <% if user_signed_in? %>
   <div class="dropup-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon dropbtn-navbar"></span>
    </button>
          <div class="dropup-content">
            <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Mon tableau de bord", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      <% else %>
        <p class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link", id: "deco" %>
        </p>
      <% end %>
    </ul>
  </div>
</div>
