<div class="container">
    <%= simple_form_for [shop, event] do |f| %>
      <%= f.input :title, label: "Titre" %>
      <%= f.input :description, label: "Description" %>
      <%= f.input :beg_date, as: :string, required: false, input_html: {class: "datepicker"}, label: "Début de l'offre" %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}, label: "Fin de l'offre" %>
      <%= f.input :category, as: :radio_buttons, label: "Catégorie", collection: Event::CATEGORIES %>
      <%= f.input :offer, label: "Offre" %>
      <%= f.input :active,label: "Disponible ?" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, label_html: { class: 'upload-photo'}, label: '📷 Ajouter image' %>
      <%= f.submit "Valider" %>
    <% end %>
</div>
