<div class="container">
  <h2>Bonjour <%= @user.first_name %> <%= @user.last_name %>!</h2>
  <%= link_to "Profil", user_path(@user) %>

  <% @shops.size > 1 ? tab_shop = "Mes enseignes" : tab_shop = "Mon enseigne" %>
  <% @events.size > 1 ? tab_event = "Mes offres" : tab_event = "Mon offre" %>


  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#his-shops" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_shop %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#his-events" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_event %></a>
    </li>
  </ul>

  <div class="tab-content">

    <!-- SHOPS TAB -->
    <div class="tab-pane active" id="his-shops">
      <h3><%= tab_shop %>:</h3>
      <% @shops.each do |shop| %>
        <div id="shop-card">
          <% if shop.photos.count == 0 %>
            <img src="https://source.unsplash.com/featured/?shop" alt="">
          <% else %>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% shop.photos.each_with_index do |photo, index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class=<%= index == 0 ? "active" : "" %> ></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
            <% shop.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class:"d-block w-100" %>
              </div>
            <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
            </div>
          <% end %>
        <%= link_to shop_path(shop) do %>
          <i class="fas fa-door-open"></i>
        <% end %>
          <div class="shop-detail">
            <h3><%= shop.name %></h3>
            <p><%= shop.address %></p>
            <p class="category">Vêtement</p>
          </div>
        </div>
      <% end %>
      <%= link_to "Nouveau magasin", new_shop_path %>
    </div>

    <!-- EVENTS TAB -->

    <div class="tab-pane" id="his-events">
      <h3><%= tab_event %></h3>
      <ul>
        <% @events.each do |event| %>
        <li><%= event.shop.name %> - <%= event.title %>: <%= event.description %> - <%= link_to "Modifier événement", edit_shop_event_path(event.id, event.shop_id)  %></li>
        <% end %>
      </ul>

    </div>
  </div>
  <hr>

</div>
