<div class="container text-center">

  <% @shops.size > 1 ? tab_shop = "Enseignes" : tab_shop = "Enseigne" %>
  <% @events.size > 1 ? tab_event = "Offres" : tab_event = "Offre" %>
  <% @favorite_events.size > 1 ? tab_fav = "Favoris" : tab_fav = "Favori" %>


  <ul class="nav nav-pills justify-content-around my-3">
    <li class="nav-item">
      <a class="nav-link active" href="#his-shops" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_shop %></a>
    </li>
    <% if @shops.empty? == false %>
      <li class="nav-item">
        <a class="nav-link" href="#his-events" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_event %></a>
      </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link" href="#his-favorites" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_fav %></a>
    </li>
  </ul>

  <div class="tab-content">

    <!-- SHOPS TAB -->
    <div class="tab-pane active" id="his-shops">
      <% if @shops != "" || @events.count > 0 %>
        <%= render 'shared/shop_card', shops: @shops %>
      <% else %>
        <div class="no-result">
          <p>Aucune offre pour le moment</p>
        </div>
      <% end %>
      <%= link_to new_shop_path, :class => "button-dashboard-bis add-button-dashboard plus-padding" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <!-- EVENTS TAB -->

      <div class="tab-pane" id="his-events">
      <% if @shops != "" && @events.count > 0 %>
        <%= render 'shared/event_card', events: @events %>
      <% else %>
        <div class="no-result">
          <p>Aucune offre pour le moment, cliquez sur le "+" pour créer votre première offre!</p>
        </div>
      <% end %>
      <%= link_to dashboard_events_path, :class => "button-dashboard-tres plus-padding add-button-dashboard " do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <!-- FAVS tab -->
    <div class="tab-pane" id="his-favorites">
      <h2>Vos promotions en cours</h2>
      <% @favevents = [] %>
      <% @favorite_events.each do |favevent| %>
        <% @favevents << favevent.event if favevent.event.active == true && favevent.event.end_date < Time.now %>
      <% end %>
      <% @favevents.sort {|a,b| b.end_date <=> a.end_date} %>
      <%= render 'shared/event_card', events: @favevents %>

      <h2>Vos promotions passées</h2>
    </div>
  </div>

</div>
