<div class="container text-center">

  <% @shops.size > 1 ? tab_shop = "Mes enseignes" : tab_shop = "Mon enseigne" %>
  <% @events.size > 1 ? tab_event = "Mes offres" : tab_event = "Mon offre" %>


  <ul class="nav nav-pills justify-content-around my-3">
    <li class="nav-item">
      <a class="nav-link active" href="#his-shops" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_shop %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#his-events" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_event %></a>
    </li>
  </ul>

  <div class="tab-content">

    <!-- SHOPS TAB -->
    <div class="tab-pane active" id="his-shops">
      <%= render 'shared/shop_card', shops: @shops %>
      <%= link_to new_shop_path, :class => "button-dashboard-bis add-button-dashboard plus-padding" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <!-- EVENTS TAB -->

    <div class="tab-pane" id="his-events">
      <%= render 'shared/event_card', events: @events %>
    </div>
  </div>

</div>
