<div class="container text-center">

  <% @shops.size > 1 ? tab_shop = "Mes enseignes" : tab_shop = "Mon enseigne" %>
  <% @events.size > 1 ? tab_event = "Mes offres" : tab_event = "Mon offre" %>


  <ul class="nav nav-pills justify-content-around my-3">
    <li class="nav-item">
      <a class="nav-link active" href="#his-shops" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_shop %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#his-events" data-toggle="tab" style="text-decoration: none;" id="title-black"><%= tab_event %></a>
    </li>
  </ul>

  <div class="tab-content">

    <!-- SHOPS TAB -->
    <div class="tab-pane active" id="his-shops">
      <% @shops.each do |shop| %>
        <div id="shop-card">
          <img src="https://source.unsplash.com/featured/?shop" alt="">
        <%= link_to shop_path(shop) do %>
          <i class="fas fa-door-open"></i>
        <% end %>
          <div class="shop-detail">
            <h3><%= shop.name %></h3>
            <p><%= shop.address %></p>
            <p class="category">Vêtement</p>
          </div>
        </div>
      <% end %>
      <%= link_to "#", :class => "button-dashboard enable-ripple" do %>
        <i class="far fa-plus-square"></i> Ajout Magasin
      <% end %>
    </div>

    <!-- EVENTS TAB -->

    <div class="tab-pane" id="his-events">
      <% @events.each do |event| %>
      <div class="event-card">
        <div class="event-image">
          <img src="https://source.unsplash.com/featured/?product" alt="">
          <p class="offer-tag"><%= event.offer %></p>
        </div>
        <div class="event-detail">
          <div class="block-top">
            <h4> <%= event.title %> </h4>
            <p> Du <%= event.beg_date.strftime("%d/%m/%Y") %> au <%= event.end_date.strftime("%d/%m/%Y") %></p>
          </div>
          <p> <%= event.description %></p>
          <div class="block-bottom">
            <div class="block-icon">
              <a><i class="far fa-heart" style="color: white;"></i></a>
              <a><i class="fas fa-share-alt" style="color: white;"></i></a>
              <a><i class="fas fa-pen" style="color: white;"></i></a>
            </div>
            <div class="block-button">
              <%= link_to "QR Code" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
