<div class="home">
  <!-- 1/3 vh container for typed js -->
  <div class="typed-container">
    <p class="lead">
      Trouvez <span class='typed-element'></span>
    </p>
    <p class="lead-text">Hopla vous trouve les bons plans et promotions autour de chez vous</p>
  </div>

  <!-- 1/3 vh container for research -->
  <div class="research-container">
    <div data-controller= "ajax-form" class="ajax-form-search" >
      <div class="filter-section" id="search">
        <div class="container">
          <div class=" no-margin home-form" id= "search-form-home">
            <%= simple_form_for :search, url:root_path, html: { data: { action: "ajax:success->ajax-form#onPostSuccess" } } , remote: true, method: :get do |f| %>
              <%= f.input :query, label: false, id: "search_query", placeholder: "Trouvez une boutique.", input_html: { class: 'blue-rounded-input-shape' } %>
              <%= f.input :categories, label:false , id: "search_filter", input_html: { class: 'blue-rounded-input-shape select2 ', multiple: "multiple", id: 'select2-input' }, collection: Category.all %>
              <%= f.submit "Hopla!", :class => 'button-submit-home' %>
            <% end %>
            
          </div>
        </div>
      </div>
      <%= render "shops/map", markers: @markers %>
    </div>
  </div>
</div>
