<div class="home">
  <!-- 1/3 vh container for typed js -->
  <div class="typed-container">
    <p class="lead">
      Trouve <span class='typed-element'></span>
    </p>
    <p class="lead-text">Hopla vous trouve les bons plans et promotions autour de chez vous</p>
  </div>

  <!-- 1/3 vh container for research -->
  <div class="research-container">
    <div data-controller= "ajax-form" >
      <div class="filter-section" id="search">
        <div class="container">
          <div class=" no-margin home-form" id= "search-form-home">
            <%= simple_form_for :search, url:root_path, html: { data: { action: "ajax:success->ajax-form#onPostSuccess" } } , remote: true, method: :get do |f| %>
              <%= f.input :query, label: false, id: "search_query", placeholder: "Trouver une boutique!", input_html: { class: 'blue-rounded-input-shape' } %>
              <%= f.input :categories, placeholder: "Filtrer sur une catégorie", id: "search_filter", input_html: { class: 'blue-rounded-input-shape' }, collection: Category.all %>
              <%= f.submit "Hopla!", :class => 'button-submit-home' %>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to "#map-up-container", :class => "" do %>
        <i class="fas fa-search"></i> Voir tout
      <% end %>
      <%= render "shops/map", markers: @markers %>
    </div>
  </div>
</div>
