<div class="home">
  <!-- To be deleted -->
  <!-- <div class="home-view">
    <h1>Evènements et bons plans du moment 👇 </h1>
    <a href="#map", class= "btn btn-warning">Hop on y va!</a>
  </div> -->

  <div class="container home-view" id="research">

    <ul class="nav nav-pills justify-content-around">
      <li class="nav-item">
        <a class="nav-link" href="#search" data-toggle="tab" style="text-decoration: none;" id="title-black">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#all" data-toggle="tab" style="text-decoration: none;" id="title-black">Suggestions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#categories" data-toggle="tab" style="text-decoration: none;" id="title-black">Category</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="all">
        <%= link_to "#map", :class => "btn btn-warning" do%>
          Hopla!
        <% end %>
      </div>

  <div data-controller= "ajax-form" >
    <div class="tab-pane" id="search">

      <div class="container">
        <%= simple_form_for :search, url:root_path, html: { data: { action: "ajax:success->ajax-form#onPostSuccess" } } , remote: true, method: :get do |f| %>
          <div class="form-group no-margin" id= "search-form-home">
            <%= f.input :query, label: "", id: "search_query", placeholder: "Trouver une boutique!" %>
            <%= f.input :categories, label: "Filtrer sur une catégorie", id: "search_filter", collection: Category.all %>
            <%= f.submit "Hopla!" %>
          </div>
        <% end %>
      </div>
    </div>
      
      <div class="back">
        <%= link_to "#navbar", :class =>"button-dashboard-bis text-padding" do %>
          <i class="fas fa-chevron-up"></i>New Research
        <% end %>
      </div>
      
    <%= render "shops/map", markers: @markers %>

  </div>
</div>
